[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
beautifulsoup4 = "==4.8.1"
soupsieve = "==1.9.4"
urllib3 = "==1.25.6"

[requires]
python_version = "3.7"
